# Entorno virtual
venv/
.venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env

# Archivos de VSCode (opcional)
.vscode/
.idea/
*.swp

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de Django (producción / temporales)
staticfiles/
media/

# Archivos de logs o temporales
*.log

# Archivos de base de datos locales
db.sqlite3
*.sqlite3

# Documentacion local de trabajo
docs/
